doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title=user
    link(rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bulma/0.3.2/css/bulma.css")
  body
    header.hero.is-primary
      .hero-body
        .container
          h1.title
            a(href=`https://www.npmjs.com/~${user}` title=`View ${user} on npm`)=user
            | 's packages
    main.section
      .container
        table.table.is-bordered
          thead
            tr
              th Package
              th Daily Downloads
              th Weekly Downloads
              th Monthly Downloads
          tfoot
            tr
              th Sum
              th.daily
              th.weekly
              th.monthly
          tbody
            each pkg in pkgs
              tr(data-package=pkg)
                td: a(href=`https://www.npmjs.com/packages/${pkg}` title=`View ${pkg} on npm` target="_blank")=pkg
                td.daily
                td.weekly
                td.monthly
    footer.footer
      .container
        .content
          | Built by 
          a(href="http://koajs.com" title="View Koa's homepage")  Koa 2
          | , 
          a(href="http://pugjs.org" title="View Pug's homepage") Pug 2
          | , 
          a(href="http://bulma.io" title="View Bulma's homepage") Bulma
          |  and 
          a(href="http://jquery.com" title="View jQuery's homepage") jQuery 3
    script(src="//code.jquery.com/jquery-3.1.1.js")
    script.
      void function () {
        var sumDaily = 0
        var sumWeekly = 0
        var sumMonthly = 0
        $.when.apply($, $('tr[data-package]').map(function () {
          var $this = $(this)
          var pkg = $this.data('package')
          return $.when(
            getDownloads(pkg, 'last-day').then(function (downloads) {
              $this.find('.daily').text(downloads)
              sumDaily += downloads
            }),
            getDownloads(pkg, 'last-week').then(function (downloads) {
              $this.find('.weekly').text(downloads)
              sumWeekly += downloads
            }),
            getDownloads(pkg, 'last-month').then(function (downloads) {
              $this.find('.monthly').text(downloads)
              sumMonthly += downloads
            }),
          )
        })).then(function () {
          $('tfoot .daily').text(sumDaily)
          $('tfoot .weekly').text(sumWeekly)
          $('tfoot .monthly').text(sumMonthly)
        })
        function getDownloads(pkg, period) {
          return $.get('https://api.npmjs.org/downloads/point/' + period + '/' + pkg)
            .then(function (response) {
              return 'downloads' in response ? response.downloads : 0
            })
        }
      } ()
